PROJECT_NAME= # Nombre Del Proyecto
POSTGRES_SERVER=database
POSTGRES_USER= # Nombre Del Usuario Postgre
POSTGRES_PASSWORD= # Contraseña Del Usuario Postgre
POSTGRES_DB= # Nombre Base De Datos
FIRST_SUPERUSER= # Nombre Del Usuario Administrador
FIRST_SUPERUSER_PASSWORD= # Contraseña Del Usuario Administrador