# Nombre del compose y de su carpeta correspondiente dentro de WSL
COMPOSE_NAME=company_xxx_stack

# Nombre del contenedor que se abrira en VS Code
CONTAINER_SHELL=company_app_xxx

# Variables de entorno BDD
DATABASE_USER=user
DATABASE_SCHEMA=schema
DATABASE_PASSWORD=password