# Nombre del compose y de su carpeta correspondiente dentro de WSL
COMPOSE_NAME=xxx_stack

# Nombre del contenedor que se abrira en VS Code
CONTAINER_SHELL=app_xxx

# Variables de entorno de la BDD
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_SCHEMA=schema